@{
    ViewBag.Title = "About";
}

<article>
    <p>
        This web resource was developed to gain trainee position in GlobalLogic company.
    </p>
    <p>
        This site sources contains a bunch of bad code,
        but it's my first real project, so you shoudn't expect a lot.
    </p>
    <p>
        Development was started 25 June 2013 and finished 5 July 2013.
    </p>
    <p>
        Developed by Pelekhatyi Danyyil.
    </p>
</article>