@{
    ViewBag.Title = "Contact";
}

<section class="aside">
    <div class="contact"><h3 id="img-title">Speak with me personaly</h3></div>
    <div id="picture-container"><img src="../../Images/Picture of me.png" alt="Me"/></div>
</section>

<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">Mobile:</span>
        <span>(063) 99 237 49</span>
    </p>
    <p>
        <span class="label">Home:</span>
        <span>(032) 237 13 92</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        Lviv, Ukraine<br />
        37 Efremova str, ap 23
    </p>
</section>

<section class="contact">
    <header>
        <h3>Other</h3>
    </header>
    <p>
        <span class="label">Email:</span>
        <span><a href="mailto:pelex.daniell@gmail.com">pelex.daniell@gmail.com</a></span>
    </p>
    <p>
        <span class="label">LinkedIn:</span>
        <span><a href="http://www.linkedin.com/profile/view?id=188305256">http://www.linkedin.com/Pelekhatyi_Danyyil</a></span>
    </p>
    <p>
        <span class="label">Skype:</span>
        <span>Wish...master...</span>
        <script type="text/javascript" src="http://cdn.dev.skype.com/uri/skype-uri.js"></script>
        <div id="SkypeButton_Chat_Wish...master..._1">
            <script type="text/javascript">
                Skype.ui({
                "name": "chat",
                "element": "SkypeButton_Chat_Wish...master..._1",
                "participants": ["Wish...master..."],
                "imageSize": 22
            });
            </script>
        </div>
    </p>

</section>
