@model IEnumerable<Resume.Core.Models.Feedback>
@{
    ViewBag.Title = "Feedback";
}
<div id="feedback-container">
    <h4 class="feedback-title">
        Feel free to leave your feedback here:
    </h4>
    <p class="feedback-title">
        (Ctrl+Enter to submit)
    </p>
    <div id="feedback-area">
        <textarea id="feedback-text" rows="5" cols="70"></textarea>
    </div>
    @if (Model.ToList().Count() > 0)
    {
        <h4 class="feedback-title">
            Latest comments:</h4>
    }
    @foreach (var x in Model)
    {
        <div class="feedback-title">
            <hr />
            <span class="label">
                @x.Name:
            </span>
            <p>
                @x.Comment
            </p>
        </div>
    }
</div>
@section scripts{
    <script type="text/javascript">
        
        $(function () {
            $("#feedback-text").focus().keydown(function (e)
            {
                if (e.which == 13 && e.ctrlKey)
                {
                    var url = '@Url.Action("Feedback", "Home")';
                    var text = $(this).val();
                    var pseudo = prompt("Enter your name");
                    $.post(url, { feedback: text, name: pseudo })
                    .done(function ()
                    {
                        location.reload(true);
                    });
                    
                }
            })
        });
    </script>
}
