@{
    ViewBag.Title = "Start Page";
}

<body>
    <h2>Everything has a point</h2>
    <p>Point of this web application is to represent it's developer and proove his skills and knowledges.</p>
    <p>Use navigation bar to investigate this resource and get information about it's creator.</p>
</body>
